@charset "UTF-8";
@import "./markdown.scss";

// 颜色
$mb-theme-primary: #2196F3;
$mb-theme-secondary: #FFC107;

$color-red-500: #f44336;
$color-pink-500: #E91E63;
$color-blue-grey-500: #607D8B;
$color-button-disabled: rgba(0, 0, 0, 0.26);

$mb-theme-light-font: rgba(0, 0, 0, 0.54); // rgb(22,22,22)
$mb-theme-dark-font: rgba(255, 255, 255, 0.7); // rgb(193,193,193)

$mb-theme-light-sidebar-background: #fff;
$mb-theme-dark-sidebar-background: #424242;

// 重置
html {
  min-height: 500px;
  // 使用 elementui 建议的字体方案
  font-family: "JetBrains Mono",
               "Helvetica Neue",
               Helvetica,
               "PingFang SC",
               "Hiragino Sans GB",
               "Microsoft YaHei",
               "微软雅黑",
               Arial,
               sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

// 通用
.mono {
}
.full-width {
  width: 100%;
}
.no-screen {
  display: block;
  @media screen {
    & {
      display: none;
    }
  }
}
.icon-right {
  margin-left: 6px;
}
.mb-responsive-container {
  position: relative;
  width: 100%;
  margin-left: 0;
  @media (min-width: 1280px) {
    // 留出左侧drawer的margin
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  > .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 6px;
    margin: 0 auto;
    @media (min-width: 350px) {
      padding: 0 12px;
    }
    @media (min-width: 1280px) {
      width: 900px;
      padding: 0;
    }
    @media (min-width: 1440px) {
      width: 1050px;
      padding: 0;
    }
    @media (min-width: 1550px) {
      width: 1160px;
      padding: 0;
    }
  }
}
.mb-flex {
  display: flex;
  flex-wrap: wrap;
}
.mb-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

// 文章和作品卡片
.z-index-2 {
  z-index: 2 !important;
  *:not(.mb-bg-wrap) {
    z-index: 2 !important;
  }
}
.light-font {
  color: #fff !important;
  * {
    color: #fff !important;
  }
}
.card-content-holder {
  height: 72px;
}
.custom-card-content {
  font-size: 14px;
  position: absolute;
  line-height: 20px;
  max-height: 72px;
  top: 80px;
  left: 0;
  right: 0;
  padding: 16px;
  margin: 0;
  // 行数限制
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}
.content-card-header {
  > div:nth-child(2) {
    > span:nth-child(2) {
      color: rgba(255, 255, 255, .7) !important;
    }
  }
}

// 管理员可见
.admin-only {
  visibility: hidden !important;
  &[data-authed=true] {
    visibility: visible !important;
  }
}

// xs, extra-small: 0dp or larger
// sm, small: 600dp or larger
// md, medium: 960dp or larger
// lg, large: 1280dp or larger
// xl, xlarge: 1920dp or larger

// enum: 'display4',
//       'display3',
//       'display2',
//       'display1',
//       'headline',
//       'title',
//       'subheading',
//       'body2',
//       'body1',
//       'caption',
//       'button'

// 0: "none"
// 1: "0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12)"
// 2: "0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12)"
// 3: "0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12)"
// 4: "0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12)"
// 5: "0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 5px 8px 0px rgba(0, 0, 0, 0.14),0px 1px 14px 0px rgba(0, 0, 0, 0.12)"
// 6: "0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12)"
// 7: "0px 4px 5px -2px rgba(0, 0, 0, 0.2),0px 7px 10px 1px rgba(0, 0, 0, 0.14),0px 2px 16px 1px rgba(0, 0, 0, 0.12)"
// 8: "0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12)"
// 9: "0px 5px 6px -3px rgba(0, 0, 0, 0.2),0px 9px 12px 1px rgba(0, 0, 0, 0.14),0px 3px 16px 2px rgba(0, 0, 0, 0.12)"
// 10: "0px 6px 6px -3px rgba(0, 0, 0, 0.2),0px 10px 14px 1px rgba(0, 0, 0, 0.14),0px 4px 18px 3px rgba(0, 0, 0, 0.12)"
// 11: "0px 6px 7px -4px rgba(0, 0, 0, 0.2),0px 11px 15px 1px rgba(0, 0, 0, 0.14),0px 4px 20px 3px rgba(0, 0, 0, 0.12)"
// 12: "0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 12px 17px 2px rgba(0, 0, 0, 0.14),0px 5px 22px 4px rgba(0, 0, 0, 0.12)"
// 13: "0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 13px 19px 2px rgba(0, 0, 0, 0.14),0px 5px 24px 4px rgba(0, 0, 0, 0.12)"
// 14: "0px 7px 9px -4px rgba(0, 0, 0, 0.2),0px 14px 21px 2px rgba(0, 0, 0, 0.14),0px 5px 26px 4px rgba(0, 0, 0, 0.12)"
// 15: "0px 8px 9px -5px rgba(0, 0, 0, 0.2),0px 15px 22px 2px rgba(0, 0, 0, 0.14),0px 6px 28px 5px rgba(0, 0, 0, 0.12)"
// 16: "0px 8px 10px -5px rgba(0, 0, 0, 0.2),0px 16px 24px 2px rgba(0, 0, 0, 0.14),0px 6px 30px 5px rgba(0, 0, 0, 0.12)"
// 17: "0px 8px 11px -5px rgba(0, 0, 0, 0.2),0px 17px 26px 2px rgba(0, 0, 0, 0.14),0px 6px 32px 5px rgba(0, 0, 0, 0.12)"
// 18: "0px 9px 11px -5px rgba(0, 0, 0, 0.2),0px 18px 28px 2px rgba(0, 0, 0, 0.14),0px 7px 34px 6px rgba(0, 0, 0, 0.12)"
// 19: "0px 9px 12px -6px rgba(0, 0, 0, 0.2),0px 19px 29px 2px rgba(0, 0, 0, 0.14),0px 7px 36px 6px rgba(0, 0, 0, 0.12)"
// 20: "0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 20px 31px 3px rgba(0, 0, 0, 0.14),0px 8px 38px 7px rgba(0, 0, 0, 0.12)"
// 21: "0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 21px 33px 3px rgba(0, 0, 0, 0.14),0px 8px 40px 7px rgba(0, 0, 0, 0.12)"
// 22: "0px 10px 14px -6px rgba(0, 0, 0, 0.2),0px 22px 35px 3px rgba(0, 0, 0, 0.14),0px 8px 42px 7px rgba(0, 0, 0, 0.12)"
// 23: "0px 11px 14px -7px rgba(0, 0, 0, 0.2),0px 23px 36px 3px rgba(0, 0, 0, 0.14),0px 9px 44px 8px rgba(0, 0, 0, 0.12)"
// 24: "0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0, 0, 0, 0.12)"
