@import './reset';
@import './mobile';

/*
z-index 计数
200 toast

111 110 modal

101 header footer

100 container

91 card:hover
90 card

90 button
89 button-content
*/

$materialCubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$translucent-black: rgba(#000, .3);
$translucent-white: rgba(#fff, .5);
$white: #fff;

$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$indigo: #3f51b5;
$blue: #2196f3;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$brown: #795548;
$grey: #9e9e9e;
$bluegrey: #607d8b;

$font-primary: rgba(#000, .87);
$font-secondary: rgba(#000, .54);

$paper-elevation-none: none;
$paper-elevation-low: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
$paper-elevation-medium: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
$paper-elevation-high: 0px 10px 13px -6px rgb(0 0 0 / 20%), 0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);

$font-family: "JetBrains Mono", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

$rhaego-markdown-border-light: rgba(0, 0, 0, 0.12);
$rhaego-markdown-link: rgb(74,135,240);
$rhaego-markdown-quote: #757575;

* {
  font-family: $font-family;
}

body {
  position: relative;
  height: 100%;
  //min-width: 320px;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
  padding-top: 256px;
  &.full-vh-content {
    padding-top: 0;
    .rhaego-header,
    .rhaego-footer, {
      display: none;
    }
    .rhaego-container {
      margin-top: 0;
    }
    .rhaego-editor {
      height: 100vh;
    }
  }
}

.rhaego-responsive {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1200px) {
    width: 1200px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
  }
}

.rhaego-single-word {
  display: inline-block;
  transition: opacity .4s $materialCubicBezier;
  &::after {
    display: inline-block;
    content: '·';
    opacity: .4;
  }
  &:last-of-type:after {
    content: '¬';
  }
  &.hidden {
    opacity: 0;
  }
}

.content-pop-in {
  animation: popIn .4s $materialCubicBezier;
}

@mixin top-left-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin one-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-not-found {
  font-size: 14px;
  color: $font-secondary;
  @include top-left-center;
}
