@charset "UTF-8";
@import "./highlight.scss";

$rhaego-markdown-font-light: #3c4043;
$rhaego-markdown-border-light: rgba(0, 0, 0, 0.12);
$rhaego-markdown-link: rgb(74,135,240);
$rhaego-markdown-pre-background: rgb(40, 44, 52);
$rhaego-markdown-pre-color: #abb2bf;
$rhaego-markdown-quote: #757575;

// 全局文章样式
// 用于编辑页的预览区和文章详情页
// 参考 material-ui 的 typography 部分
// https://material-ui-next.com/style/typography/#typography

.rhaego-markdown {

  text-align: left;
  padding: 0 6px;
  color: $rhaego-markdown-font-light;

  p {
    line-height: 20px;
    font-size: 14px;
    margin: 16px 0;
    padding: 0;
  }

  strong {
    font-weight: 500;
    margin: 0 .2em;
  }

  i, {
    margin: 0 .2em;
  }

  a {
    color: $rhaego-markdown-link;
    box-sizing: border-box;
    border-bottom: 1px solid $rhaego-markdown-link;
    padding: 0 .2em;
    margin: 0 .2em;
    line-height: 24px;
    transition: all .2s $materialCubicBezier;
    &:hover {
      border-bottom-color: $white;
      background: $rhaego-markdown-link;
      color: $white;
    }
  }

  h2, h3, h4, h5, h6 {
    color: $rhaego-markdown-font-light;
    //margin: 32px 0 16px;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 32px;
  }

  h1 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 9px;
  }

  blockquote {
    padding-left: 12px;
    box-sizing: border-box;
    margin: 0 0 4px 0;
    border-left: 4px solid rgb(207, 216, 230);
    * {
      color: $rhaego-markdown-quote !important;
    }
  }

  code {
    padding: 0 .2em;
    margin: 0 .2em;
    border: 1px solid #dadce0;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
    word-break: normal;
    background-color: #f8f9fa;
  }

  pre {
    margin: 24px 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 16px;
    position: relative;
    background: $white;
    border: 1px solid $rhaego-markdown-border-light;
    code {
      color: unset;
      border: unset;
      background-color: unset;
      font-size: 12px;
      line-height: 1.4;
    }
  }

  ul, ol {
    padding-left: 1.5em;
    li {
      font-size: 14px;
      line-height: 22px;
      padding: 0;
      position: relative;
      margin: .1em 0;

    }

    p {
      margin: 0;
      display: inline-block;
      line-height: 22px !important;
    }
  }
  ul > li {
    list-style: disc inside;
  }
  ol > li {
    list-style: decimal inside;
  }

  img {
    display: block;
    margin: 24px auto;
    max-width: 100%;
    cursor: pointer;
    box-shadow: $paper-elevation-low;
    transition: all .2s $materialCubicBezier;
    &:hover {
      box-shadow: $paper-elevation-high;
    }
  }

  hr {
    border: 0;
    width: 60%;
    margin: 63px auto;
    border-bottom: 1px solid $rhaego-markdown-border-light;
  }
}

//@media (min-width: 0) {
//  .rhaego-markdown {
//    padding: 0;
//    ul, ol {
//      padding-left: 24px !important;
//    }
//  }
//}
//@media (min-width: 450px) {
//  .rhaego-markdown {
//    padding: 0 6px;
//    ul, ol {
//      padding-left: 40px !important;
//    }
//  }
//}
