@charset "UTF-8";
@import "./highlight.scss";

// 全局笔记样式
// 用于编辑页的预览区和笔记详情页

.rhaego-markdown {

  text-align: left;
  color: $font-primary;

  p {
    line-height: 1.6;
    font-size: 16px;
    margin: 1.4em 0;
    padding: 0;
    word-break: break-word;
  }

  strong {
    font-weight: 500;
  }

  a {
    color: $font-secondary;
    padding: 0 .1em .1em;
    border-bottom: 1px solid $font-secondary;
    transition: all .2s $materialCubicBezier;
    &:hover {
      border-bottom-color: $blue;
      color: $blue;
    }
  }

  em,
  i {
    color: $font-secondary;
  }

  h1 {
    font-size: 34px;
    line-height: 42px;
    margin: 48px 0 24px;
    font-weight: 300;
    padding-bottom: .2em;
    border-bottom: 1px solid $rhaego-markdown-border-light;
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin: 36px 0 18px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  h3, h4, h5, h6 {
    margin: 18px 0;
    font-size: 24px;
    line-height: 32px;
  }

  blockquote {
    padding-left: 12px;
    box-sizing: border-box;
    margin: 18px 0;
    border-left: 4px solid rgb(207, 216, 230);
    * {
      color: $rhaego-markdown-quote !important;
    }
  }

  code {
    display: inline-block;
    padding: 0 .3em;
    font-size: .8em;
    line-height: 1.6;
    border: 1px solid #dadce0;
    border-radius: 3px;
    word-break: normal;
    background: rgba(0, 0, 0, .05);
    color: #000;
    font-family: $font-family-mono;
  }

  pre {
    margin: 24px 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    font-size: 14px;
    padding: 1em;
    background: $white;
    box-shadow: $paper-elevation-low;
    border-radius: 3px;
    font-family: $font-family-mono;
    * {
      font-family: $font-family-mono;
    }
    //font-size: 0.75em;
    code {
      color: unset;
      border: unset;
      background-color: unset;
      font-size: unset;
    }
  }

  ul, ol {
    margin: 12px 0 12px 2em;
    li {
      font-size: 16px;
      line-height: 1.6;
      padding: 0;
      position: relative;
      margin: .2em 0;
    }
    p {
      margin: 0;
      display: inline-block;
      line-height: 1.6;
    }
  }
  ul > li {
    list-style: disc outside;
  }
  ol > li {
    list-style: decimal outside;
  }
  li > ul > li {
    list-style: circle outside;
  }

  img {
    display: block;
    margin: 24px auto;
    max-width: 100%;
    cursor: pointer;
    box-shadow: $paper-elevation-medium;
    transition: all .4s $materialCubicBezier;
    &:hover {
      box-shadow: $paper-elevation-high;
    }
  }

  hr {
    border: 0;
    width: 80%;
    min-width: 256px;
    margin: 48px auto;
    border-bottom: 1px solid $rhaego-markdown-border-light;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 12px 0;
    font-size: 16px;
    th {
      font-weight: 500;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }
    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
}