@charset "UTF-8";
@import "./highlight.scss";

// 全局笔记样式
// 用于编辑页的预览区和笔记详情页
// 参考 material-ui 的 typography 部分
// https://material-ui-next.com/style/typography/#typography

.rhaego-markdown {

  text-align: left;
  //padding: 0 6px;
  color: $font-primary;

  p {
    line-height: 22px;
    font-size: 14px;
    margin: 0 0 16px 0;
    padding: 0;
  }

  strong {
    font-weight: 500;
    margin: 0 .2em;
  }

  i, {
    margin: 0 .2em;
  }

  a {
    color: $rhaego-markdown-link;
    box-sizing: border-box;
    border-bottom: 1px solid $rhaego-markdown-link;
    padding: 0 .2em;
    margin: 0 .2em;
    transition: all .2s $materialCubicBezier;
    &:hover {
      border-bottom-color: $white;
      background: $rhaego-markdown-link;
      color: $white;
    }
  }

  h1 {
    font-size: 34px;
    line-height: 42px;
    margin: 48px 0 24px;
    font-weight: 300;
    padding-bottom: .2em;
    border-bottom: 1px solid $rhaego-markdown-border-light;
  }

  h2, h3, h4, h5, h6 {
    margin: 12px 0;
    font-size: 20px;
    line-height: 32px;
  }

  blockquote {
    padding-left: 12px;
    box-sizing: border-box;
    margin: 0 0 4px 0;
    border-left: 4px solid rgb(207, 216, 230);
    * {
      color: $rhaego-markdown-quote !important;
    }
  }

  // 默认 markdown 的 code 左右无空格.
  code {
    display: inline-block;
    padding: 0 .3em;
    margin: 0 .5em;
    font-size: .8em;
    line-height: 1.4;
    border: 1px solid #dadce0;
    border-radius: 3px;
    word-break: normal;
    background-color: #f8f9fa;
  }

  pre {
    margin: 12px 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px;
    position: relative;
    background: $white;
    border: 1px solid $rhaego-markdown-border-light;
    code {
      color: unset;
      border: unset;
      background-color: unset;
      font-size: 12px;
      line-height: 18px;
    }
  }

  ul, ol {
    padding-left: 1.5em;
    li {
      font-size: 14px;
      line-height: 22px;
      padding: 0;
      position: relative;
      margin: .1em 0;

    }
    p {
      margin: 0;
      display: inline-block;
      line-height: 22px;
    }
  }
  ul > li {
    list-style: disc inside;
  }
  ol > li {
    list-style: decimal inside;
  }

  img {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    cursor: pointer;
    box-shadow: $paper-elevation-medium;
    transition: all .4s $materialCubicBezier;
    &:hover {
      box-shadow: $paper-elevation-high;
    }
  }

  hr {
    border: 0;
    width: 60%;
    margin: 63px auto;
    border-bottom: 1px solid $rhaego-markdown-border-light;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 12px 0;
    th {
      font-weight: 500;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }
    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
}

//@media (min-width: 0) {
//  .rhaego-markdown {
//    padding: 0;
//    ul, ol {
//      padding-left: 24px !important;
//    }
//  }
//}
//@media (min-width: 450px) {
//  .rhaego-markdown {
//    padding: 0 6px;
//    ul, ol {
//      padding-left: 40px !important;
//    }
//  }
//}
