@charset "UTF-8";
@import "../../../assets/styles/common.scss";

.content[data-route=_login] {
  padding: 48px 0;
}

.login {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 48px;
  .form {
    margin: 12px 0 24px;
  }
  .buttons {
    margin-top: 24px;
    .action-button {
      margin: 6px 0;
    }
  }
}

.error {
  color: $color-red-500 !important;
}
