@import "~style/main";
@import "~style/markdown";
@import "~style/highlight.scss";

.rhaego-article {
  position: relative;
  box-shadow: $paper-elevation-low;
  background: $white;
  overflow: hidden;

  .rhaego-markdown {
    position: relative;
    //padding: 0 36px 0 24px;
    padding: 24px;
    margin-right: 180px;
    min-height: 600px;
  }

  .article-navs {
    position: absolute;
    box-sizing: border-box;
    width: 180px;
    background: $white;
    right: 0;
    top: 24px;
    border-left: 4px solid #1e88e5;
    padding-left: 12px;
    .article-nav {
      padding-right: 12px;
      list-style: none;
      font-size: 12px;
      line-height: 18px;
      word-wrap: break-word;
      word-break: normal;
      cursor: pointer;
      margin-top: 8px;
      transition: all .2s $materialCubicBezier;
      &:hover {
        color: $blue;
        font-weight: 500;
      }
      &.title {
        color: #757575;
        font-weight: 500;
        margin: 0;
      }
      &.tag-h2 {
        padding-left: 10px;
      }
      &.tag-h3 {
        padding-left: 20px;
      }
      &.tag-h4 {
        padding-left: 30px;
      }
    }
  }

}
