@import "~style/main";

$card-padding: 18px;

.rhaego-card {
  position: relative;
  background: $white;
  z-index: 90;
  display: inline-block;
  float: left;
  width: 50%;
  height: 256px;
  cursor: pointer;
  box-sizing: border-box;
  padding: $card-padding;
  transition: all .6s $materialCubicBezier;
  box-shadow: $paper-elevation-none;
  user-select: none;
  &:hover {
    z-index: 91;
    box-shadow: $paper-elevation-high;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
    min-height: 32px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-height: calc(1 * 32px);
    -webkit-line-clamp: 1;
  }
  .content {
    position: relative;
    font-size: 14px;
    line-height: 1.8;
    margin: 10px 0 14px;
    min-height: 1.8em;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: calc(5 * 1.8em);
  }
  .counts {
    position: absolute;
    bottom: $card-padding;
    left: $card-padding;
    height: 30px;
    line-height: 30px;
    > span ,
    > svg {
      display: inline-block;
      margin-right: .5em;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
    }
  }
  .tags {
    position: absolute;
    bottom: $card-padding;
    right: $card-padding;
    .tag {
      margin-left: 10px;
    }
  }
}

[data-card-theme=red] {
  background: $red;
}
[data-card-theme=pink] {
  background: $pink;
}
[data-card-theme=purple] {
  background: $purple;
}
[data-card-theme=indigo] {
  background: $indigo;
}
[data-card-theme=blue] {
  background: $blue;
}
[data-card-theme=cyan] {
  background: $cyan;
}
[data-card-theme=teal] {
  background: $teal;
}
[data-card-theme=green] {
  background: $green;
}
[data-card-theme=lime] {
  background: $lime;
}
[data-card-theme=yellow] {
  background: $yellow;
}
[data-card-theme=amber] {
  background: $amber;
}
[data-card-theme=orange] {
  background: $orange;
}
[data-card-theme=brown] {
  background: $brown;
}
[data-card-theme=grey] {
  background: $grey;
}
[data-card-theme=bluegrey] {
  background: $bluegrey;
}

[data-card-font-theme=light] {
  color: $white;
}
[data-card-font-theme=dark] {
  color: $font-primary;
}
