@import "~style/main";

.rhaego-footer {
  position: relative;
  margin-top: 160px;

  .social-wrap {
    position: relative;

    .social {
      position: relative;
      height: 72px;
      line-height: 72px;
      .links {
        float: right;
      }
      .link {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 15px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 24px 24px;
        vertical-align: middle;
        cursor: pointer;
        transition: all .2s $materialCubicBezier;
        opacity: .8;
        .anchor {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        &:hover {
          opacity: 1;
          .hover-content {
            opacity: 1 !important;
            transform: scale(1) !important;
          }
        }
        &.github {
          background-image: url("~images/footer/icon-github.svg");
        }
        &.zhihu {
          background-image: url("~images/footer/icon-zhihu.svg");
        }
        &.wechat {
          background-image: url("~images/footer/icon-wechat.svg");
          .hover-content {
            position: absolute;
            width: 160px;
            height: 160px;
            left: -68px;
            top: -170px;
            box-shadow: $paper-elevation-medium;
            transform: scale(0);
            opacity: 0;
            transform-origin: bottom;
            transition: all .2s $materialCubicBezier;
            background-image: url("~images/footer/wechat.jpeg");
            background-size: 160px 160px;
          }
        }
        &.email {
          background-image: url("~images/footer/icon-email.svg");
        }
      }
    }
  }

  .info-wrap {
    position: relative;
    background: $white;
    user-select: none;
    .info {
      position: relative;
      height: 144px;
      line-height: 144px;
      color: #999;
      .site {
        font-size: 14px;
        text-align: center;
        > * {
          display: inline-block;
          vertical-align: middle;
        }
        .link {
          cursor: pointer;
          margin: 0 0 0 .5em;
          font-weight: 500;
          color: #999;
          text-decoration: underline;
          transition: all .2s $materialCubicBezier;
          &:hover {
            color: $black;
          }
        }
        .heart {
          margin: 0 .5em;
        }
      }
    }
  }
}

//
//@media (min-width: 0) {
//  .rhaego-footer {
//    .social {
//      justify-content: center;
//    }
//    .about {
//      justify-content: center !important;
//      .file-id {
//        margin-left: 0 !important;
//      }
//      .about-author,
//      .view-source {
//        display: none !important;
//      }
//    }
//  }
//}
//@media (min-width: 700px) {
//  .rhaego-footer {
//    .social {
//      justify-content: flex-end;
//    }
//    .about {
//      justify-content: space-between !important;
//      .file-id {
//        margin-left: 24px !important;
//      }
//      .about-author,
//      .view-source {
//        display: block !important;
//      }
//    }
//  }
//}
