@import "~style/main";

.rhaego-container {
  position: relative;
  // 最小高度为 (视口 height) - (footer height & marginTop) - (banner height)
  min-height: calc(100vh - 216px - 160px - 256px);
  z-index: 99;
}