@import "~style/main";

.rhaego-toast {
  position: fixed;
  z-index: 200;
  display: block;
  background: rgb(50, 50, 50);
  min-width: 288px;
  max-width: 640px;
  line-height: 20px;
  padding: 14px 16px;
  //min-height: 48px;
  bottom: 24px;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  left: 50%;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
  0px 6px 10px 0px rgb(0 0 0 / 14%),
  0px 1px 18px 0px rgb(0 0 0 / 12%);
  text-align: left;
  transform: translateX(-50%) translateY(100%);
  box-sizing: border-box;
  transition: all .4s $materialCubicBezier;
  opacity: 0;

  .content {
  }

  &.visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}