@import "~style/main";

.rhaego-articles {
  position: relative;
  min-height: 600px;
  .article-list {
    position: relative;
    &:after {
      content: "不显示哦, 哇哈哈哈哈";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .actions-row {
    display: block;
    padding: 24px 0;
    .new-article {
      width: 90px;
    }
  }
}
