@import "~style/main";

.rhaego-modal {
  position: fixed;
  background: rgba(0, 0, 0, .4);
  z-index: 110;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  transition: all .3s $materialCubicBezier;

  .modal-innner {
    position: absolute;
    z-index: 111;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 240px;
    max-width: 440px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2),
    0 13px 19px 2px rgba(0, 0, 0, .14),
    0 5px 24px 4px rgba(0, 0, 0, .12);
    padding: 24px 24px 12px;
    opacity: 0;
    box-sizing: border-box;
    transition: all .2s $materialCubicBezier;
  }

  &.visible {
    display: block;
    opacity: 1;
    .modal-innner {
      opacity: 1;
      transform: scale(1) translateX(-50%) translateY(-50%);
    }
  }

  .modal-title {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 30px;
    color: $font-primary;
  }

  .modal-content {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
    color: $font-primary;
  }

  .modal-action-buttons {
    position: relative;
    text-align: center;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 0;
    > button {
      display: inline-block;
      margin: 10px 5px;
      min-width: 88px;
    }
  }

}