@import "~style/main";

$input-blue: rgb(0, 95, 204);
$input-red: rgb(221, 44, 0);

.rhaego-text-field {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 122px;
  min-height: 94px;
  height: auto;
  padding: 26px 0 30px;
  .input-content {
    position: relative;
    height: 26px;
    z-index: 1;
    input {
      display: block;
      position: relative;
      width: 100%;
      height: 26px;
      line-height: 26px;
      background: transparent;
      color: $black;
      padding: 2px 2px 1px 2px;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $font-secondary;
      font-size: 16px;
    }
    &:after,
    &:before {
      content: '';
      //position: absolute;
      width: 0;
      height: 2px;
      bottom: -4px;
      transition: all .3s $materialCubicBezier;
      background-color: $input-blue;
      z-index: 2;
    }
    &:after {
      right: 50%;
    }
    &:before {
      left: 50%;
    }
    &:hover {
      input {
        border-bottom-color: $input-blue !important;
      }
    }
    label {
      position: absolute;
      cursor: text;
      color: $font-secondary;
      top: 5px;
      left: 3px;
      transition: all .3s $materialCubicBezier;
      // 如果不显式设置 transform-origin 从左侧开始，
      // 就需要针对每个元素再进行 transform: translateX() 的改变
      transform-origin: left;
    }
    .hint {
      position: absolute;
      left: 3px;
      bottom: -24px;
      line-height: 14px;
      font-size: 12px;
      color: $font-secondary;
      transition: all .3s $materialCubicBezier;
      opacity: 1;
    }
    // 字数统计
    .char-counter {
      position: absolute;
      font-size: 12px;
      line-height: 14px;
      color: $font-secondary;
      bottom: -24px;
      right: 3px;
      transition: all .3s $materialCubicBezier;
      user-select: none;
      cursor: default;
      .separator {
        margin: 0 .2em;
      }
    }
  }
  // 获得焦点时
  &.focused {
    label {
      color: $input-blue;
    }
    .input-content:before {
      position: absolute;
      width: calc(50% + 4px);
    }
    .input-content:after {
      position: absolute;
      width: 50%;
    }
  }
  &.focused,
  &.not-empty {
    label {
      transform: scale(0.8) translateY(-30px);
      cursor: default;
    }
  }
  // 输入内容未通过验证时
  &.invalid {
    .hint {
      color: $input-red !important;
    }
    .char-counter,
    label {
      color: $input-red !important;
    }
    input {
      border-bottom-color: $input-red !important;
    }
    .input-content {
      &:after,
      &:before {
        background-color: $input-red !important;
      }
    }
  }
}