@import "~style/main";

.rhaego-loading {
  //position: absolute;
  //width: 100%;
  //height: 100%;
  .empty-reason,
  .loading-area {
    @include top-left-center;
  }
  .loading-area {
    width: 50px;
    height: 50px;
    background: url("~images/loading.svg");
  }
  .empty-reason {
    color: $black;
    width: auto;
    max-width: 360px;
  }
}
