@import "~style/main";

.rhaego-loading {
  //position: absolute;
  //width: 100%;
  //height: 100%;
  .empty-reason,
  .loading-area {
    @include top-left-center;
  }
  .loading-area {
    width: 50px;
    height: 50px;
  }
  .empty-reason {
    color: $font-secondary;
    width: auto;
    max-width: 360px;
    font-size: 14px;
  }
  &.delay-has-passed {
    .loading-area {
      background: url("~images/loading.gif") no-repeat;
      animation: fadeIn .5s $materialCubicBezier;
    }
  }
}
