@import "~style/main";

.rhaego-article-comment {
  position: relative;
  padding: 0 24px;
  margin-right: 240px;
  .comment {
    position: relative;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-bottom: 24px;
    &.editor {
      margin-bottom: 36px;
      padding: 24px;
      box-shadow: $paper-elevation-low;
      border-radius: 3px;
      background: $white;
      transition: all .6s $materialCubicBezier;
      &:hover {
        box-shadow: $paper-elevation-medium;
      }
      .title {
        font-size: 12px;
        color: $font-secondary;
        margin-bottom: 12px;
      }
      .author-wrap {
        position: relative;
        display: inline-block;
        width: 49%;
      }
      .email-wrap {
        position: relative;
        display: inline-block;
        margin-left: 2%;
        width: 49%;
      }
      .comment-author,
      .comment-email,
      .comment-content {
          display: block;
      }
      .submit {
        margin: 12px 0 6px;
        width: 100%;
      }
    }
    // 参考 youtube 的评论样式
    &.existed {
      .title {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: .2em;
        color: $font-secondary;
        .author {
          font-weight: 500;
        }
        .separator {
          margin: 0 .3em;
        }
        .date {
        }
      }
      .content {
        color: $font-primary;
        font-size: 14px;
        line-height: 20px;
      }
      .delete {
        position: absolute;
        top: 5px;
        right: -90px;
        &.hidden {
          display: none;
        }
      }
    }
  }
  .comments-loader {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 120px;
  }
}
