.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;

  // 800px
  
  .s {
    position: relative;
    width: 50%;
    // flex-grow: 1;
  }


  .f {
    position: relative;
    height: 500px;
    // flex-grow: 1;
    width: 50%;
    background: black;
  }


}
