@charset "UTF-8";
@import "../../../assets/styles/common.scss";

.row {
  position: relative;
  width: 100%;
  min-height: 72px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .button-wrap {
    display: flex;
    min-height: 72px;
    align-items: center;
    &.upload-wrap {
      flex-grow: 1;
    }
    .upload-help-text {
      line-height: 72px;
      margin-left: 12px;
    }
    .button-save {
      margin-right: 18px;
    }
  }

  // 标题
  .editor-title {
    position: relative;
    margin-right: 12px;
    flex-grow: 1;
  }
  // 标签
  .editor-tags {
    position: relative;
    flex-grow: 1;
    .tags-container {
      position: absolute;
      left: 0;
      top: 32px;
      .tag {
        margin-right: 6px;
        text-transform: uppercase;
        height: 28px;
      }
    }
  }

  // 摘要
  .editor-summary {
    position: relative;
    flex-grow: 1;
    margin-right: 12px;
  }
  // 日期
  .editor-created-date {
  }

  // 内容
  .editor-content {
    position: relative;
    margin-right: 12px;
    width: 50%;
    textarea {
      font-size: 14px !important;
    }
  }
  // 预览
  .editor-preview-wrap {
    position: relative;
    width: 50%;
    .editor-preview-placeholder {
      position: relative;
      textarea {
        font-size: 14px !important;
      }
    }
    .editor-preview {
      position: absolute;
      top: 38px;
      left: 0;
      bottom: 35px;
      right: 0;
      padding-right: 15px;
      overflow-y: scroll;
    }
  }

  #upload-picture {
    display: none;
  }

  @media (max-width: 700px) {
    .button-wrap {
      width: 100% !important;
      justify-content: space-around;
    }
    .button-save,
    .button-cancel {
      width: 40% !important;
    }
    flex-wrap: wrap;
    .editor-title,
    .editor-summary,
    .editor-tags,
    .editor-created-date,
    .editor-content {
      width: 100% !important;
    }
    .editor-preview-wrap {
      display: none;
    }
  }
  @media (max-width: 920px) {
    .upload-help-text {
      display: none;
    }
  }

  .icon-right {
    margin-left: 6px;
  }

}

.full-width {
  width: 100%;
}
