.row {
  position: relative;
  width: 100%;
  // min-height: 72px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  // 标题
  .editor-title {
    position: relative;
    margin-right: 12px;
    flex-grow: 1.2;
  }
  // 标签
  .editor-tags {
    position: relative;
    margin-right: 12px;
    flex-grow: 0.8;
    .tags-container {
      position: absolute;
    }
  }
  // 日期
  .editor-date {
  }

  // 摘要
  .editor-summary {
    position: relative;
  }

  // 内容
  .editor-content {
    position: relative;
    margin-right: 12px;
    flex-grow: 1;
  }
  // 预览
  .editor-preview {
    position: relative;
    flex-grow: 1;
  }

  @media (max-width: 800px) {
    flex-wrap: wrap;
    .editor-title,
    .editor-summary,
    .editor-tags,
    .editor-date,
    .editor-content {
      width: 100% !important;
      // margin-right: 0 !important;
    }
    .editor-preview {
      display: none;
    }
  }

}
