@import "~style/main";
@import "~style/markdown";
@import "~style/highlight.scss";

$indent: 1em;

.rhaego-editor {
  position: relative;
  overflow: scroll;
  min-width: 1200px;
  .editor-fields {
    position: relative;
    margin: 12px 0 0;
    .title,
    .tags,
    .date {
      margin-right: 12px;
    }
    .actions {
      position: absolute;
      top: 50px;
      transform: translateY(-50%);
      right: 0;
      .submit,
      .cancel {
        width: 80px;
        margin-left: 12px;
      }
    }
  }
  .compare-wrap {
    position: absolute;
    width: 100%;
    top: 120px;
    bottom: 12px;
    background: $white;
    .raw,
    .parsed {
      display: inline-block;
      resize: none;
      width: 50%;
      padding: 12px;
      height: 100%;
      overflow: scroll;
      box-sizing: border-box;
      border: 1px solid $font-secondary;
    }
    .parsed {
      border-left: 0;
    }
  }
}
