@import "~style/main";
@import "~style/markdown";

.rhaego-admin {
  position: relative;
  padding: 24px;
  width: 100%;
  .login-area,
  .admin-area {
    position: relative;
    width: 320px;
    padding: 24px;
    margin: 24px auto;
    box-shadow: $paper-elevation-low;
    border-radius: 3px;
    background: $white;
    transition: all .6s $materialCubicBezier;
    &:hover {
      box-shadow: $paper-elevation-medium;
    }
    .title {
      font-size: 12px;
      line-height: 18px;
      height: 20px;
      font-style: italic;
      color: $font-secondary;
      margin-bottom: 36px;
    }
    .username,
    .password {
      display: block;
    }
    .edit-resume,
    .new-article,
    .submit,
    .cancel {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
