@import "~style/main";
@import "~style/markdown";

.rhaego-admin {
  position: relative;
  padding: 18px;
  .login-area,
  .admin-area {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 24px;
    box-sizing: border-box;
    margin: 24px auto;
    box-shadow: $paper-elevation-low;
    border-radius: 3px;
    background: $white;
    transition: all .6s $materialCubicBezier;
    &:hover {
      box-shadow: $paper-elevation-medium;
    }
    .title {
      font-size: 12px;
      line-height: 18px;
      height: 20px;
      color: $font-secondary;
      margin-bottom: 36px;
    }
    .username,
    .password {
      display: block;
    }
    .edit-resume,
    .new-article,
    .submit,
    .cancel {
      width: 100%;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .visitor-list {
    margin-top: 12px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    * {
      white-space: nowrap;
    }
    th {
      font-weight: 500;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }
    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }
}
