@charset "UTF-8";
@import "../../../assets/styles/common.scss";

$mb-theme-light-row-background: #fff;
$mb-theme-dark-row-background: #424242;

.article-content {
  padding-top: 12px;
}

.article-nav {
  position: absolute;
  box-sizing: border-box;
  width: 160px;
  right: 36px;
  top: 24px;
  border-left: 4px solid #1e88e5;
  padding-left: 12px;
  > li {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    font-family: "Roboto";
    margin-top: 8px;
    transition: all .2s ease;
    &:first-child {
      color: #757575;
      font-weight: 500;
      margin: 0;
    }
    &.active,
    &:hover {
      color: #039be5;
    }
  }
}

.article-title {
  font-family: "Roboto Mono";
  font-size: 34px;
  color: #757575;
  font-weight: 400 !important;
  margin: 40px 0 48px;
  text-overflow: ellipsis;
}

.created-date {
  margin-bottom: 48px !important;
  color: $mb-theme-light-font !important;
}

#article-content {
  // margin: 24px 0;
}

.separator {
  margin-top: 36px;
  border-color: $mb-theme-primary;
}

.article-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
  height: 70px;

  .article-actions {
    line-height: 70px;
    float: left;
    margin-left: 12px;
    color: #757575;
  }

  .article-tags {
    // float: right;
    // margin-top: 19px;
    margin-right: 12px;
    .tag {
      margin-left: 18px;
    }
  }

}


.article-content,
.comment-editor,
.comment-list {
  margin-right: 0;
  @media (min-width: 850px) {
    margin-right: 200px;
  }
  @media (min-width: 1300px) {
    margin-right: 220px;
  }
}

.article-nav {
  @media (min-width: 0) {
    display: none;
  }
  @media (min-width: 850px) {
    display: block;
  }
}

// 评论

.comment-editor {
  position: relative;
  padding: 24px;
  .row {
    position: relative;
    display: flex;
    align-items: center;
    .comment-input {
      width: 40%;
      margin-right: 12px;
      max-width: 240px;
    }
    .comment-content {
      flex-grow: 1;
      max-width: 385px;
      margin-right: 18px;
    }
    .submit-button {
      height: 36px;
    }
  }
}

.comment-list {
  margin-top: 12px;
  .no-comment {
    width: 100%;
    line-height: 100px;
    text-align: center;
    &.hidden {
      display: none;
    }
  }
  .comment-list-item {
    position: relative;
    margin-bottom: 12px;
    transition: all .2s ease;
    .comment-header {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .comment-avatar {
      background-color: $color-red-500;
      text-transform: uppercase;
    }
    .comment-actions {
      position: absolute;
      right: 18px;
      top: 0px;
      display: flex;
      align-items: center;
      .delete-button {

      }
      .comment-index {

      }
    }

    .comment-content {
      padding-top: 0;
      padding-left: 70px;
    }
    &:hover {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// 主题

#mb-dark-theme {
  .article-title {
    color: rgba(255, 255, 255, 0.7);

  }
  .created-date {
    color: $mb-theme-dark-font !important;

  }
  .article-info {
    // background: $mb-theme-dark-row-background;

  }
}
