@charset "UTF-8";
@import "../../../assets/styles/common.scss";

$mb-theme-light-row-background: #fff;
$mb-theme-dark-row-background: #424242;

.article-wrap {
  position: relative;
  padding-top: 12px;

  .article-title {
    width: 100%;
    font-family: "Roboto Mono";
    font-size: 34px;
    color: #757575;
    font-weight: 400 !important;
    margin: 40px 0 48px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-word;
  }
  .row-1 {
    display: flex;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    .created-date {
      color: $mb-theme-light-font !important;
    }
    .edit-button {
    }
  }
  .article-content {

  }
  .article-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-top: 60px;
    border-top: 2px solid $mb-theme-primary;
    .article-actions {
      line-height: 70px;
      float: left;
      color: #757575;
      .like-button {
        color: $color-pink-500;
        border: $color-pink-500;
        fill: $color-pink-500;
        &[disabled] {
          color: $color-button-disabled;
          border: $color-button-disabled;
          fill: $color-button-disabled;
        }
      }
      .comment-button {
        // color: #FF9800;
        // border: #FF9800;
        // fill: #FF9800;
      }
    }
    .article-tags {
      .tag {
        margin-left: 18px;
      }
    }
  }

  .article-nav {
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    right: -200px;
    top: 24px;
    border-left: 4px solid #1e88e5;
    padding-left: 12px;
    > li {
      list-style: none;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      font-family: "Roboto";
      margin-top: 8px;
      transition: all .2s ease;
      &:first-child {
        color: #757575;
        font-weight: 500;
        margin: 0;
      }
      &.active,
      &:hover {
        color: #039be5;
      }
    }
  }
}

.article-wrap,
.comment-editor,
.comment-list {
  margin-right: 0;
  @media (min-width: 850px) {
    margin-right: 200px;
  }
  @media (min-width: 1300px) {
    margin-right: 220px;
  }
}

.article-nav {
  @media (min-width: 0) {
    display: none;
  }
  @media (min-width: 850px) {
    display: block;
  }
}


// 评论

.comment-editor {
  position: relative;
  padding: 24px;
  .row {
    position: relative;
    display: flex;
    align-items: center;
    .comment-input {
      width: 40%;
      margin-right: 12px;
      max-width: 240px;
    }
    .comment-content {
      flex-grow: 1;
      max-width: 385px;
      margin-right: 18px;
    }
    .submit-button {
      height: 36px;
    }
  }
}

.comment-list {
  margin-top: 12px;
  .no-comment {
    width: 100%;
    line-height: 100px;
    text-align: center;
    &.hidden {
      display: none;
    }
  }
  .comment-list-item {
    position: relative;
    margin-bottom: 12px;
    transition: all .2s ease;
    .comment-header {
      padding-top: 8px;
      padding-bottom: 8px;
      > div:nth-child(2) {
        > span:nth-child(2) {
          font-size: 12px !important;
        }
      }
    }
    .comment-avatar {
      background-color: #607D8B;
      text-transform: uppercase;
      color: #fff;
    }
    .comment-actions {
      position: absolute;
      height: 60px;
      right: 18px;
      top: 0px;
      display: flex;
      align-items: center;
      .delete-button {
        color: $color-red-500;
        border: $color-red-500;
        fill: $color-red-500;
      }
      .comment-index {
        color: #607D8B;
      }
    }

    .comment-content {
      padding-top: 0;
      padding-left: 72px;
    }
    &:hover {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// 主题

#mb-dark-theme {
  .article-title {
    color: rgba(255, 255, 255, 0.7);

  }
  .created-date {
    color: $mb-theme-dark-font !important;

  }
  .article-info {
    // background: $mb-theme-dark-row-background;

  }
}
