@import "reset";
@import "keyframes";

/*
z-index 计数
102 .ripple
101 .rhaego-header .rhaego-nav
100 .banner
99 .rhaego-main-wrap

91 .rhaego-card:hover
90 .rhaego-card
*/

$materialCubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$translucent-black: rgba(#000, .3);
$translucent-white: rgba(#fff, .5);
$black: rgba(#000, .7);
$white: #fff;

$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$indigo: #3f51b5;
$blue: #2196f3;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$brown: #795548;
$grey: #9e9e9e;
$bluegrey: #607d8b;

body {
  position: relative;
  height: 100%;
  font-family: "JetBrains Mono", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

.rhaego-responsive {
  width: 900px;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1200px) {
    width: 1200px;
  }
  // @media (min-width: 1900px) {
  //     width: 1440px;
  // }
}

.rhaego-single-word {
  display: inline-block;
  transition: opacity .4s cubic-bezier(0.25, 0.8, 0.25, 1);
  &::after {
    content: '·';
    opacity: .4;
  }
  &:last-of-type:after {
    content: '¬';
  }
  &.hidden {
    opacity: 0;
  }
}