@import "reset";
@import "keyframes";

/*
z-index 计数
110 .rhaego-modal

102 .ripple
101 .rhaego-header .rhaego-nav
100 .banner
99 .rhaego-main-wrap

91 .rhaego-card:hover
90 .rhaego-card

90 .rhaego-button
89 .rhaego-button-content
*/

$materialCubicBezier: cubic-bezier(0.25, 0.8, 0.25, 1);

$translucent-black: rgba(#000, .3);
$translucent-white: rgba(#fff, .5);
$black: rgba(#000, .7);
$white: #fff;

$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$indigo: #3f51b5;
$blue: #2196f3;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$brown: #795548;
$grey: #9e9e9e;
$bluegrey: #607d8b;

$font-secondary: rgba(#000, .54);

$paper-elevation-none: none;
$paper-elevation-low: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
$paper-elevation-medium: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
$paper-elevation-high: 0px 10px 13px -6px rgb(0 0 0 / 20%), 0px 20px 31px 3px rgb(0 0 0 / 14%), 0px 8px 38px 7px rgb(0 0 0 / 12%);

$font-family: "JetBrains Mono", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

body {
  position: relative;
  height: 100%;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

.rhaego-responsive {
  width: 100%;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1200px) {
    width: 1200px;
  }
  @media (min-width: 1600px) {
    width: 1440px;
  }
  //@media (min-width: 2000px) {
  //  width: 1680px;
  //}
}

.rhaego-single-word {
  display: inline-block;
  transition: opacity .4s $materialCubicBezier;
  &::after {
    content: '·';
    opacity: .4;
  }
  &:last-of-type:after {
    content: '¬';
  }
  &.hidden {
    opacity: 0;
  }
}