.ripple {
  position: absolute;
  pointer-events: none;
  display: none;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: map-get($gen-colors, translucent-white);
  border-radius: 50%;
  cursor: pointer;
  z-index: 102;
  &.appear {
    display: block;
    animation: appear .55s $materialCubicBezier;
    @keyframes appear {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }
  &.explode {
    display: block;
    animation: explode .7s ease-out;
    @keyframes explode {
      to {
        transform: scale(20);
        opacity: 0;
      }
    }
  }
}