$rhaego-header-colors: (
  rgb(241, 243, 244), //silver
  rgb(60, 90, 100), //grey
  rgb(251, 188, 5), //yellow
  rgb(66, 133, 244), //blue
  rgb(234, 67, 53), //red
  rgb(52, 168, 83), //green
);
.rhaego-header {
  &[data-theme=silver] .nav-bar,
  &[data-theme=silver] {
    background-color: nth($rhaego-header-colors, 1);
  }
  &[data-theme=grey] .nav-bar,
  &[data-theme=grey] {
    background-color: nth($rhaego-header-colors, 2);
  }
  &[data-theme=yellow] .nav-bar,
  &[data-theme=yellow] {
    background-color: nth($rhaego-header-colors, 3);
  }
  &[data-theme=blue] .nav-bar,
  &[data-theme=blue] {
    background-color: nth($rhaego-header-colors, 4);
  }
  &[data-theme=red] .nav-bar,
  &[data-theme=red] {
    background-color: nth($rhaego-header-colors, 5);
  }
  &[data-theme=green] .nav-bar,
  &[data-theme=green] {
    background-color: nth($rhaego-header-colors, 6);
  }
  &[data-theme=red],
  &[data-theme=blue],
  &[data-theme=green],
  &[data-theme=grey] {
    * {
      color: $white;
    }
    .nav-button {
      &.active {
        border-color: $white;
      }
      &.clicking,
      &:not(.active):hover {
        border-color: $translucent-white;
      }
    }
    .nav-border {
      background-color: $white;
    }
  }
  &[data-theme=silver],
  &[data-theme=yellow] {
    * {
      color: $black !important;
    }
    .nav-button {
      &.active {
        border-color: $black !important;
      }
      &.clicking,
      &:not(.active):hover {
        border-color: $translucent-black !important;
      }
    }
    .nav-border {
      background-color: $black !important;
    }
  }
}