@import "../assets/styles/common.scss";

.async-button-wrap {
  position: relative;
}
.async-button-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  > svg {
    color: $mb-theme-dark-font !important;
  }
}
