@charset "UTF-8";
.splited-span {
  display: inline-block;
  word-wrap: break-word;
  word-break: normal; }

.splited-span:after {
  position: relative;
  content: '·';
  opacity: .4; }

.splited-span:last-of-type:after {
  content: '¬'; }

.card .splited-span:after {
  margin: 0 .05em; }
