@import "~style/main";

$rhaego-button-primary: #1976d2;
$rhaego-button-secondary: rgb(220, 0, 78);

/*
***** 常规 ****
*/
.rhaego-button {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  border: 0 solid rgb(33, 33, 33);
  color: rgb(33, 33, 33);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
  0px 2px 2px 0px rgb(0 0 0 / 14%),
  0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: rgb(224, 224, 224);
  user-select: none;
  overflow: hidden;
  transition: all .4s $materialCubicBezier;
  z-index: 90;
  .button-content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    z-index: 89;
  }
  .ripple {
    position: absolute;
    pointer-events: none;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50%;
    cursor: pointer;
    &.appear {
      display: block;
      animation: appear .8s $materialCubicBezier;
      @keyframes appear {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
    }
    &.fade {
      display: block;
      animation: fade .4s $materialCubicBezier;
      @keyframes fade {
        to {
          transform: scale(1.5);
          opacity: 0;
        }
      }
    }
  }
  &:hover {
    background-color: #d5d5d5;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  &.mousedown {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%),
    0px 3px 14px 2px rgb(0 0 0 / 12%);
  }

  &.mouseup {
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  }

  // 小
  &.size-small {
    height: 30px !important;
    line-height: 30px !important;
    .button-content {
      font-size: 13px !important;
    }
  }

  // 主要、禁用、警告三种状态
  &.type-primary {
    background-color: $rhaego-button-primary;
    color: #fff;
    &:hover {
      background-color: rgb(17, 82, 147);
    }
  }

  &.type-secondary {
    background-color: $rhaego-button-secondary;
    color: #fff;
    &:hover {
      background-color: rgb(154, 0, 54);
    }
  }
  &.disabled {
    background-color: rgb(217, 217, 217) !important;
    color: rgba(0, 0, 0, .38) !important;
    box-shadow: none !important;
    cursor: default !important;
  }

  /*
  ***** 扁平 ****
  */

  &.flat {
    box-shadow: none;
    background-color: transparent;
    color: rgba(#000, .87);
    &:hover {
      background-color: rgba(158, 158, 158, .2);
    }
    &.type-primary {
      color: $rhaego-button-primary;
    }
    &.type-secondary {
      color: $rhaego-button-secondary;
    }
    &.disabled {
      background-color: transparent !important;
      color: rgba(#000, .38) !important;
      box-shadow: none !important;
      cursor: default !important;
    }
  }
}

///*
//***** 提示条 ****
//*/
//.rhaego-tooltip {
//  display: block;
//  position: fixed;
//  top: 0;
//  left: 0;
//  color: rgba(#fff, .87);
//  background: rgb(97, 97, 97);
//  border-radius: 4px;
//  line-height: 22px;
//  height: 22px;
//  font-size: 12px;
//  padding: 0 6px;
//  text-align: center;
//  overflow: hidden;
//  z-index: 1000;
//  transition: transform .15s ease;
//  //text-transform: capitalize;
//  font-weight: 500;
//  transition-delay: 0;
//  opacity: .9;
//  transform: scale(0);
//  &.show {
//    transform: scale(1);
//    transition-delay: .3s;
//  }
//  &.to-show-at-top {
//    transform-origin: bottom;
//  }
//  &.to-show-at-right {
//    transform-origin: left;
//  }
//  &.to-show-at-bottom {
//    transform-origin: top;
//  }
//  &.to-show-at-left {
//    transform-origin: right;
//  }
//
//}
