@import "~style/main";

//$rhaego-button-primary: rgb(16, 108, 200);
$rhaego-button-primary: $blue;
$rhaego-button-warn: rgb(255, 82, 82);

/*
***** 常规 ****
*/
.rhaego-button {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  min-width: 36px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  border: 0 solid rgb(33, 33, 33);
  color: rgb(33, 33, 33);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  background-color: #fff;
  letter-spacing: .01em;
  user-select: none;
  overflow: hidden;
  transition: all .4s $materialCubicBezier;
  z-index: 90;

  .button-content {
    display: block;
    overflow: hidden;
    font-family: "JetBrains Mono";
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    z-index: 89;
  }

  .ripple {
    position: absolute;
    pointer-events: none;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50%;
    cursor: pointer;
    &.appear {
      display: block;
      animation: appear .8s $materialCubicBezier;
      @keyframes appear {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
    }
    &.fade {
      display: block;
      animation: fade .4s $materialCubicBezier;
      @keyframes fade {
        to {
          transform: scale(1.5);
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    background-color: #eee;
  }
  &.mousedown {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  }
  &.mouseup {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  }
  //.ripple-container {
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  background-color: transparent;
  //  transition: all .3s $materialCubicBezier;
  //  overflow: hidden;
  //
  //  .ripple {
  //    display: none;
  //    position: absolute;
  //    // IDEA: safari内宽高均为0的元素初始化时有问题
  //    // width: 0;
  //    // height: 0;
  //    width: 1px;
  //    height: 1px;
  //    top: 0;
  //    left: 0;
  //    background-color: rgba(0, 0, 0, .15);
  //    border-radius: 50%;
  //    transition: all .3s $materialCubicBezier;
  //    transform: scale(1.2);
  //  }
  //}
  //
  //&.mousedown {
  //  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  //  .ripple-container {
  //    background-color: rgba(33, 33, 33, .05);
  //  }
  //  .ripple {
  //    display: block;
  //    animation: rippling .3s $materialCubicBezier;
  //    transform: scale(1.2);
  //  }
  //  @keyframes rippling {
  //    0% {
  //      transform: scale(.5);
  //      opacity: 0;
  //    }
  //    100% {
  //      transform: scale(1.2);
  //      opacity: 1;
  //    }
  //  }
  //}
  //
  //&.mouseup {
  //  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  //  .ripple-container {
  //    animation: container .3s $materialCubicBezier;
  //  }
  //  .ripple {
  //    display: none;
  //    animation: ripple .3s $materialCubicBezier;
  //  }
  //  @keyframes container {
  //    0% {
  //      background-color: rgba(33, 33, 33, .05);
  //    }
  //    100% {
  //      background-color: transparent;
  //    }
  //  }
  //  @keyframes ripple {
  //    0% {
  //      display: block;
  //      opacity: 1;
  //    }
  //    100% {
  //      display: none;
  //      opacity: 0;
  //    }
  //  }
  //}
  //
  //&:hover {
  //  background-color: #eee;
  //}
  //
  //&:not(.round).small {
  //  height: 30px !important;
  //  line-height: 30px !important;
  //  .content {
  //    font-size: 12px !important;
  //  }
  //}
  //

  // 小
  &.small {
    height: 30px !important;
    line-height: 30px !important;
    .button-content {
      font-size: 12px !important;
    }
  }

  // 主要、禁用、警告三种状态
  &.primary {
    background-color: $rhaego-button-primary;
    color: #fff;
    &:hover {
      background-color: rgb(7, 96, 176);
    }
  }
  &.warn {
    background-color: $rhaego-button-warn;
    color: #fff;
    &:hover {
      background-color: rgb(213, 0, 0);
    }
  }

  &.disabled {
    background-color: rgb(217, 217, 217) !important;
    color: rgba(0, 0, 0, .38) !important;
    box-shadow: none !important;
    cursor: default !important;
  }

  /*
  ***** 扁平 ****
  */

  &.flat {
    box-shadow: none;
    background-color: transparent;
    color: rgba(#000, .87);
    &:hover {
      background-color: rgba(158, 158, 158, .2);
    }
    &.primary {
      color: $rhaego-button-primary;
      .ripple {
        background-color: rgba(16, 108, 200, .1);
      }
    }

    &.warn {
      color: $rhaego-button-warn;
      .ripple {
        background-color: rgba(255, 82, 82, .1);
      }
    }
    &.disabled {
      background-color: transparent !important;
      color: rgba(#000, .38) !important;
      box-shadow: none !important;
      cursor: default !important;
    }
  }
}
//
///*
//***** 圆形 ****
//*/
//
//.rhaego-button.round {
//  width: 56px;
//  min-width: 0;
//  height: 56px;
//  line-height: 56px;
//  padding: 0;
//  border-radius: 50%;
//
//  .icon-wrap {
//    display: block;
//    position: absolute;
//    width: 24px;
//    height: 24px;
//    top: 50%;
//    left: 50%;
//    transform: translateX(-50%) translateY(-50%);
//    overflow: hidden;
//    .icon {
//      display: block;
//      position: absolute;
//      width: 24px;
//      height: 24px;
//      top: -24px;
//      left: 0;
//      border-bottom: 24px solid transparent;
//      //  http://www.zhangxinxu.com/wordpress/2016/06/png-icon-change-color-by-css/
//      //  Chrome下如果元素的主体部分【完全】不可见，则其drop-shadow不可见；
//      //  只要元素有【任何】部分可见，则其drop-shadow完全可见。
//      filter: drop-shadow(rgba(#000, .87) 0 24px);
//      // 在单独的样式表内设置背景图片
//      // background: url("...") no-repeat 0 0;
//    }
//  }
//
//  .ripple-container {
//    border-radius: 50%;
//  }
//

//
//  &.primary {
//    .icon {
//      filter: drop-shadow(rgba(#fff, .87) 0 24px) !important;
//    }
//  }
//
//  &.warn {
//    .icon {
//      filter: drop-shadow(#fff 0 24px) !important;
//    }
//  }
//
//  &.disabled {
//    .icon {
//      filter: drop-shadow(rgba(0, 0, 0, .38) 0 24px) !important;
//    }
//    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26) !important;
//  }
//
//  // 禁止round和flat同时存在
//  &.flat {
//    display: none !important;
//  }
//}
//
//
///*
//***** 提示条 ****
//*/
//.rhaego-tooltip {
//  display: block;
//  position: fixed;
//  top: 0;
//  left: 0;
//  color: rgba(#fff, .87);
//  background: rgb(97, 97, 97);
//  border-radius: 4px;
//  line-height: 22px;
//  height: 22px;
//  font-size: 12px;
//  padding: 0 6px;
//  text-align: center;
//  overflow: hidden;
//  z-index: 1000;
//  transition: transform .15s ease;
//  //text-transform: capitalize;
//  font-weight: 500;
//  transition-delay: 0;
//  opacity: .9;
//  transform: scale(0);
//  &.show {
//    transform: scale(1);
//    transition-delay: .3s;
//  }
//  &.to-show-at-top {
//    transform-origin: bottom;
//  }
//  &.to-show-at-right {
//    transform-origin: left;
//  }
//  &.to-show-at-bottom {
//    transform-origin: top;
//  }
//  &.to-show-at-left {
//    transform-origin: right;
//  }
//
//}
