@charset "UTF-8";
@import "../../../assets/style/common.scss";

.editor-wrap .row {
  position: relative;
  width: 100%;
  min-height: 72px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  &.button-row {
    min-height: 48px;
    align-items: center;
  }

  .button-wrap {
    display: flex;
    min-height: 72px;
    align-items: center;
    &.upload-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .upload-help-text {
      line-height: 72px;
      margin-left: 12px;
    }
    .button-save {
      margin-right: 18px;
    }
  }

  // 标题
  .editor-title {
    position: relative;
    margin-right: 12px;
    flex-grow: 1;
  }
  // 标签
  .editor-tags {
    position: relative;
    flex-grow: 1;
    .tags-container {
      position: absolute;
      left: 0;
      top: 32px;
      .tag {
        margin-right: 6px;
        text-transform: uppercase;
        height: 28px;
      }
    }
  }

  // 摘要
  .editor-summary {
    position: relative;
    flex-grow: 1;
    margin-right: 12px;
  }
  // 日期
  .editor-created-date {
    input {
    }
  }

  // 内容
  .editor-content {
    position: relative;
    margin-right: 12px;
    width: 50%;
    > div {
      height: 100%;
    }
    textarea {
      font-size: 14px !important;
    }
  }
  // 预览
  .editor-preview-wrap {
    position: relative;
    width: 50%;
    .editor-preview-placeholder {
      position: relative;
      font-size: 14px !important;
      > div {
        height: 100%;
      }
    }
    .editor-preview {
      position: absolute;
      top: 38px;
      left: 0;
      bottom: 35px;
      right: 0;
      padding-right: 15px;
      overflow-y: scroll;
    }
  }

  .delete-wrap > div {
    width: 100%;
    .delete-button {
      background: $color-red-500;
      &:hover {
        background: rgb(170, 46, 37);
      }
    }
  }

  .async-button-wrap {
    width: 100% !important;
  }

  .button-cancel {
    height: 36px;
  }

  #upload-picture-input {
    display: none;
  }

  @media (min-width: 0) and (max-width: 700px) {
    .button-wrap {
      width: 100% !important;
      justify-content: space-around !important;
      > * {
        width: 100%;
      }
      align-items: center;
    }
    flex-wrap: wrap;
    .editor-title,
    .editor-summary,
    .editor-tags,
    .editor-created-date,
    .editor-content {
      width: 100% !important;
      margin-right: 0;
    }
    .editor-preview-wrap {
      display: none;
    }
    .upload-button {
      width: 100%;
    }
    .upload-help-text {
      display: none;
    }
  }
}
