.auth {
  position: relative;
  margin: 120px auto 0;
  width: 80%;
  min-width: 300px;
  max-width: 450px;
  background: yellow;
  .auth-content {
    position: relative;
    width: 100%;
    padding: 24px 60px;
  }
  .action-button {
    margin: 48px 0;
  }
}
