@charset "UTF-8";

.mb-bg-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0 !important;

  .mb-bg-block {
    position: absolute;
    width: 1000px;
    z-index: 0 !important;

    &.mb-shadow-light {
      box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
                  0 6px 6px rgba(0, 0, 0, .23);
    }

    &.mb-shadow-strong {
      box-shadow: 0 19px 38px rgba(0, 0, 0, .30),
                  0 15px 12px rgba(0, 0, 0, .22);
    }

  }

}
