@import "~style/main";
@import "~style/markdown";

$indent: 1em;

.rhaego-article {
  position: relative;
  padding: 0 18px;

  .article-content {
    position: relative;
    padding: 24px 0;
    margin-right: 240px;
    .article-top {
      margin-bottom: 24px;
      position: relative;
      height: 48px;
      line-height: 48px;
      .actions {
        > span,
        svg {
          display: inline-block;
          margin-right: .5em;
          font-size: 14px;
          color: $font-primary;
          height: 48px;
          line-height: 48px;
          vertical-align: middle;
          font-family: $font-family-mono;
        }
        svg {
          cursor: pointer;
          opacity: .5;
          filter: brightness(0.8);
          transition: all .4s $materialCubicBezier;
          &:hover {
            opacity: 1;
            filter: brightness(1.1);
          }
        }
      }
      .date {
        position: absolute;
        display: block;
        white-space: nowrap;
        font-size: 13px;
        color: $font-secondary;
        font-family: $font-family-mono;
        font-style: italic;
        @include top-left-center;
      }
      .tags {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        .tag {
          margin-left: 10px;
        }
      }
    }
  }

  .article-sidebar {
    position: fixed;
    box-sizing: border-box;
    width: 220px;
    transition: opacity .5s $materialCubicBezier;
    opacity: 0;
    &.init {
      opacity: 1;
    }
    .nav-list {
      border-left: 4px solid #1e88e5;
      padding-left: 12px;
      .nav-item {
        padding-right: 12px;
        list-style: none;
        font-size: 13px;
        line-height: 18px;
        word-wrap: break-word;
        word-break: normal;
        cursor: pointer;
        margin-top: 8px;
        transition: color .4s $materialCubicBezier;
        &:first-child {
          color: #757575;
          font-weight: 500;
          margin: 0;
        }
        &.level-2 {
          padding-left: calc(1 * #{$indent});
        }
        &.level-3 {
          padding-left: calc(2 * #{$indent});
        }
        &.level-4 {
          padding-left: calc(3 * #{$indent});
        }
        &.level-5 {
          padding-left: calc(4 * #{$indent});
        }

        &.level-6 {
          padding-left: calc(5 * #{$indent});
        }
        &:hover {
          color: $blue;
        }
      }
    }
    .admin-actions {
      margin: 18px;
      .rhaego-button {
        display: block;
        width: 100%;
        margin-bottom: 12px;
      }
      &.hidden {
        display: none;
      }
    }
    &.disabled {
      svg {
        cursor: default;
        :hover {
          opacity: unset;
          filter: unset;
        }
      }
    }
  }

  &.resume {
    .article-top {
      display: none;
    }
    .article-sidebar {
      //.admin-actions {
      .delete-article {
        display: none;
      }
    }
  }
}

//// TODO 简历打印 pdf
//body {
//  padding: 0;
//  background: #fff;
//}
//.rhaego-header {
//  display: none;
//}
//.article-content {
//  margin: 0 !important;
//}
//.article-sidebar {
//  display: none;
//}
//.rhaego-footer {
//  display: none;
//}
