@import "~style/main";

$golden-ratio: 0.618;
$card-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);

.rhaego-card {
  position: relative;
  background: $white;
  z-index: 90;
  display: inline-block;
  width: 50%;
  height: 300px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 32px;
  filter: brightness(100%);
  &:hover {
    z-index: 91;
    transition: all .3s $materialCubicBezier;
    filter: brightness(110%);
    box-shadow: $card-shadow;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .summary {
    font-size: 14px;
    line-height: 1.8;
    margin: 10px 0 14px;
  }
}
