@charset "UTF-8";

// 全局文章样式
// 用于编辑页的预览区和文章详情页
// 参考 material design components 的规范
// https://material.io/components/web/catalog/typography/

.mb-article {
  text-align: left;
  font-family: "Roboto";
  font-size: 14px !important;
  line-height: 24px !important;
  color: rgb(33, 33, 33);
  b {
    font-size: 500;
  }
  i {

  }
  u {
    text-decoration: none;
    border-bottom: 2px solid rgb(33, 33, 33);
    padding-bottom: 0;
  }
  strike {
    text-decoration: strike-through;
  }
  h1, h2, h3, h4, h5, h6 {
    color: rgb(33, 33, 33);
    line-height: 32px;
    &:first-child {
      margin-top: 0 !important;
    }
  }
  h1 {
    border-bottom: 1px solid #ebebeb;
    font-size: 24px;
    font-family: "Roboto Mono";
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 20px;
    margin: 32px 0 16px;
  }
  p {
    font-family: "Roboto";
    margin: 16px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
  blockquote {
    padding-left: 12px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 20px;
    margin: 16px 0;
    border-left: 4px solid rgb(207, 216, 230);
    color: #757575;

  }
  code {
    font-weight: 500;
    font-size: .9em;
    line-height: 1em;
    word-break: break-word;
    font-family: "Roboto Mono";
    background-color: #f7f7f7;
    color: #37474f;
  }
  pre {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto Mono';
    background-color: #f7f7f7;
    color: #37474f;
    margin: 16px 0;
    overflow-x: auto;
    padding: 8px;
    position: relative;
  }
  li {
    font-size: 14px;
    font-family: "Roboto";
  }
  ul, ol {
    margin: 0;
    padding-left: 40px;
    li {
      margin: 8px 0;
      padding: 0;
      list-style-position: outside;
    }
  }
  ul > li {
    list-style-type: disc;
  }
  ol > li {
    list-style-type: decimal;
  }
  a {
    color: #039be5;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: all .2s ease-out;
    outline: 0;
    &:hover {
      border-bottom-color: #039be5;
      padding-bottom: 2px;
    }
  }
  img {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
  }
  hr {
    border: 0;
    width: 60%;
    margin: 18px auto;
    border-bottom: 1px solid #333;
  }
}
