html {
  min-height: 500px; }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.mono {
  font-family: "Roboto Mono" !important; }

.no-screen {
  display: block; }
  @media screen {
    .no-screen {
      display: none; } }

.mb-responsive-container, .mb-footer {
  position: relative;
  width: 100%;
  margin-left: 0; }
  @media (min-width: 1280px) {
    .mb-responsive-container, .mb-footer {
      margin-left: 250px;
      width: calc(100% - 250px); } }
  .mb-responsive-container > .content, .mb-footer > .content {
    position: relative;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    @media (min-width: 1280px) {
      .mb-responsive-container > .content, .mb-footer > .content {
        width: 960px;
        padding: 0; } }
    @media (min-width: 1440px) {
      .mb-responsive-container > .content, .mb-footer > .content {
        width: 1160px;
        padding: 0; } }

.mb-flex {
  display: flex;
  flex-wrap: wrap; }

.mb-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.mb-footer {
  padding: 0 !important;
  background: #fff; }
  .mb-footer._placeholder {
    width: 100%;
    height: 160px; }
  .mb-footer .social {
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .mb-footer .social .social-link {
      position: relative;
      list-style: none;
      width: 24px;
      height: 24px;
      margin: 0 15px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 24px 24px;
      vertical-align: middle;
      cursor: pointer; }
      .mb-footer .social .social-link > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .mb-footer .social .social-link.github {
        background-image: url("../../../assets/images/footer/ic_github_light.svg"); }
      .mb-footer .social .social-link.zhihu {
        background-image: url("../../../assets/images/footer/ic_zhihu_light.svg"); }
      .mb-footer .social .social-link.wechat {
        background-image: url("../../../assets/images/footer/ic_wechat_light.svg"); }
        .mb-footer .social .social-link.wechat .hover-content {
          position: absolute;
          width: 160px;
          height: 160px;
          left: -68px;
          top: -170px;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          transform: scale(0);
          opacity: 0;
          transform-origin: bottom;
          transition: all .2s ease-out; }
      .mb-footer .social .social-link.email {
        background-image: url("../../../assets/images/footer/ic_email_light.svg"); }
        .mb-footer .social .social-link.email .hover-content {
          position: absolute;
          background: #fff;
          white-space: nowrap;
          height: 24px;
          line-height: 24px;
          padding: 0 12px;
          left: 50%;
          width: 7.2em;
          margin-left: -3.6em;
          top: -36px;
          font-size: 12px;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          transform: scale(0);
          opacity: 0;
          transform-origin: bottom;
          transition: all .2s ease-out; }
      .mb-footer .social .social-link:hover {
        opacity: 1 !important; }
        .mb-footer .social .social-link:hover .hover-content {
          opacity: 1;
          transform: scale(1); }
  .mb-footer._about .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 144px; }
    .mb-footer._about .about .about-item {
      list-style: none; }
      .mb-footer._about .about .about-item.project-name {
        margin-left: 24px; }
        .mb-footer._about .about .about-item.project-name span {
          color: #2196f3; }
      .mb-footer._about .about .about-item.about-loginor {
        margin-left: -50px;
        transition: all .2s ease-out; }
        .mb-footer._about .about .about-item.about-loginor .heart-wrap {
          position: relative;
          display: inline-block;
          width: 14px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle; }
          .mb-footer._about .about .about-item.about-loginor .heart-wrap .heart {
            position: absolute;
            left: 0;
            top: 4px; }
        .mb-footer._about .about .about-item.about-loginor .info-link {
          padding: 8px 0;
          border-bottom: 2px solid transparent;
          transition: all .2s ease-out; }
          .mb-footer._about .about .about-item.about-loginor .info-link:hover {
            padding: 4px 0;
            border-bottom-color: rgba(0, 0, 0, 0.54); }
      .mb-footer._about .about .about-item.view-source {
        margin-right: 24px; }

#mb-dark-theme .mb-footer {
  background: #424242; }

#mb-dark-theme .project-name span {
  color: #FFFF00; }

#mb-dark-theme .about-loginor .info-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.7); }

#mb-dark-theme .social-link.github {
  background-image: url("../../../assets/images/footer/ic_github_dark.svg"); }

#mb-dark-theme .social-link.zhihu {
  background-image: url("../../../assets/images/footer/ic_zhihu_dark.svg"); }

#mb-dark-theme .social-link.wechat {
  background-image: url("../../../assets/images/footer/ic_wechat_dark.svg"); }

#mb-dark-theme .social-link.email {
  background-image: url("../../../assets/images/footer/ic_email_dark.svg"); }
