@import "~style/main";

.rhaego-paper {
  position: relative;
  background: $white;
  &.has-radius {
    border-radius: 4px;
  }
  &.elevation-none {
    box-shadow: $paper-elevation-none;
  }
  &.elevation-low {
    box-shadow: $paper-elevation-low;
  }
  &.elevation-none {
    box-shadow: $paper-elevation-high;
  }
}

[data-card-theme=red] {
  background: $red;
}
[data-card-theme=pink] {
  background: $pink;
}
[data-card-theme=purple] {
  background: $purple;
}
[data-card-theme=indigo] {
  background: $indigo;
}
[data-card-theme=blue] {
  background: $blue;
}
[data-card-theme=cyan] {
  background: $cyan;
}
[data-card-theme=teal] {
  background: $teal;
}
[data-card-theme=green] {
  background: $green;
}
[data-card-theme=lime] {
  background: $lime;
}
[data-card-theme=yellow] {
  background: $yellow;
}
[data-card-theme=amber] {
  background: $amber;
}
[data-card-theme=orange] {
  background: $orange;
}
[data-card-theme=brown] {
  background: $brown;
}
[data-card-theme=grey] {
  background: $grey;
}
[data-card-theme=bluegrey] {
  background: $bluegrey;
}

[data-card-font-theme=light] {
  color: $white;
}
[data-card-font-theme=dark] {
  color: $black;
}
